body {
  font-family: 'Karla', serif;
  background-color: #1F2937;
  color:white;
}

h1 {
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.025em;
}

#text-color-green {
  color: green;
}

#p-insecure-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #D5D4D8
}